<!DOCTYPE html>
<html lang="en">

<head>
    <title>Accountabili-Buddies</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./landing.css" rel="stylesheet">

</head>

<body>
    <div class="landingpagebg" id="bigThing">

        <div class="header topPart">
            <h2><b>Accountabili-Buddies</b></h2>
        </div>

        <div class="row loginBlock">
            <div class="column side" style="background-color: white;">
                <h2>Login here</h2>
                <p>blahaahahaha</p>
            </div>
        </div>
        <div class="row signIn">
            <div class="column side" style="background-color: white;">
            <h2>Sign up here</h2>
            <p>blahaahahaha</p>
            </div>
        </div>

     


    <div class="footer bottomPart">
        <p>Bobbi, Ruby, Joan and Brandon 2018 </p>
    </div>

    </div>
    
</body>


</html>
