
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}


#bigThing{

    display: grid;

    grid-template-areas: "Header Header Header"
                        "Login Middle Content"
                        "Footer Footer Footer";

    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 1fr 5fr 1fr;

}

.topPart{
    grid-area: Header;
    text-align: center;
}

.loginBlock{
    grid-area: Login;
}

.signIn{
    grid-area: Content;
}
.bottomPart{
    grid-area: Footer;
}

/* landpage */

.landingpagebg{

background-image: url(https://images.wallpaperscraft.com/image/vincent_van_gogh_the_starry_night_oil_canvas_117815_1366x768.jpg);
background-position: center;
background-size: cover;
width: 100%;
height: 100vh;
}

.landbgherotext{
text-align: center;
position: absolute;
font-size: 5em;
color: white;
top: 40%;
left: 15%;
}

.landbtn{
    margin: 1.5em auto;
    font-size: .5em;
    width: 200px;
    background-color: tomato;
}
.landbtn a{
    color: white;
}

/* header css */
header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo img {
    width: 100px;
    display: inline-block;
}

nav ul{
    display: flex;
    align-items: center;
    margin-right: 2em;
}
nav ul li {
    display: flex;
    margin-left: 8em;
    
}

nav li a{
text-decoration: none;
font-size: 1.5rem;
color:black;
}

/* home page css */
.puppiesprofilepage{
    margin: 10em 0 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 1em;
    justify-content: center;
    align-items: center;
}
.imgcontainer{
    display: flex;
    align-self: center;
}
.pup-img{
    align-self: center;
    border-radius: 20%;
    object-fit: cover;
    width: 250px;
    height: 250px;
}

.pup-container{
    align-self: center;
    justify-self: center;
}

/* profile css */
.profilecontainer{
    margin-top: 10em;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}
.profilelist{
    margin-top: 1em;

}
body > div > div:nth-child(6) {
    margin-bottom: 1em;
}
.profilecontainer > * {
    align-self: center;
    justify-self: center;
}
.profilebtn {
    margin: 5% 25%;
    font-size: 1.2em;
    padding: 15px 32px;
    color: white;
    background-color: rgb(205, 125, 125);
    border-radius: 20px;
    border: none;
}
/* edit css */
section {
    margin-top: 10em;
}
/* footer */

footer{
    margin: 2em 0;
    text-align: center;
}
